<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Relive Blog!</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
	<link href="stylesheets/style.css" rel="stylesheet">
	<script src="jquery/dist/jquery.js"></script>
	<!--<script src="datatables/media/js/jquery.dataTables.js"></script>-->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
	<!--<script src="angular-datatables/dist/angular-datatables.js"></script> -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
	<script src="/javascripts/angularApp.js"></script>
	<style> .glyphicon-arrow-up { cursor:pointer }</style>
	<style> .glyphicon-arrow-down { cursor:pointer }</style>

	<!-- controllers-->
	<script src="javascripts/controllers/mainCtrl.js"></script>
	<script src="javascripts/controllers/postsCtrl.js"></script>
	<script src="javascripts/controllers/authCtrl.js"></script>
	<script src="javascripts/controllers/navCtrl.js"></script>
	<script src="javascripts/controllers/usersCtrl.js"></script>

	<!--factories -->
	<script src="javascripts/factories/usersFactory.js"></script>
	<script src="javascripts/factories/postsFactory.js"></script>
	<script src="javascripts/factories/authFactory.js"></script>

	<!-- config -->
	<script src="javascripts/config/config.js"></script>


	<!-- filters-->
	<script src="javascripts/filters/searchFilter.js"></script>

	<!-- directives-->
	<script src="javascripts/directives/tabDirective.js"></script>
	
</head>


<body ng-app="reliveBlog">

	<div id="homeNav" class="navmenu navmenu-default navmenu-fixed-left offcanvas"  role="navigation" ng-controller="NavCtrl">
		<a class="navmenu-brand" href="/#/home" >Relive Blog</a>

		<ul class="nav navmenu-nav">
			<li ng-show="isLoggedIn()" > <a>Logged in as {{ ucFirst(currentUser()) }} </a> </li>
			<li ng-class="{ active: isActive('/login') }" ng-show="isLoggedIn()===false" ><a href="/#/login">Log In</a></li>
			<li ng-class="{ active: isActive('/register') }" ng-show="isLoggedIn()===false" ><a href="/#/register">Register</a></li>
			<li ng-class="{ active: isActive('/home') }"><a href="/#/home">Home</a></li>
			<li ng-class="{ active: isActive('/users') }" ><a href="/#/admin">Admin Panel</a></li>
			<li ng-show="isLoggedIn()===true" ><a href="" ng-click="logOut()">Log Out</a> </li>
		</ul>
	</div>
	<div class="navbar navbar-default navbar-fixed-top">
		<button type="button" class="navbar-toggle home-nav-button" data-toggle="offcanvas" data-target="#homeNav" data-canvas="body">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ui-view></ui-view>
		</div>
	</div>

	
	
</body>	
</html>