body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 /* margin-left: auto;
  margin-right: auto;*/
}

a {
  color: #00B7FF;
}

table , th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
table th {
	width: 300px;
}
table th:first-child {
	width:50x;
}
tr:hover
{

  background-color:darkblue;
  color: black;
  font-weight: bold;
}
/*.selected {
	background-color:red;
}*/
.home-nav-button {
  display: block;
  float: left;
}

