<!-- templates/home.html -->

<div ng-hide="isLoggedIn()">
		<h3>You need to <a href="/#/login">Log in</a> or <a href="/#/register">Register</a> before you can add a comment </h3>
	</div>
		<div class="page-header">
			<h1>Relive Blog</h1>
		</div>

		<div ng-repeat="post in posts| orderBy: '-upvotes'">
				<span class="glyphicon glyphicon-arrow-up"
				ng-click="incrementUpvotes(post)"></span>
				<span >{{post.count}}</span>
				<span> vote = {{data.count}}</span>
				<span class="glyphicon glyphicon-arrow-down"
				ng-click="decrementUpvotes(post)"></span>
				
				<span style="font-size:20px; margin-left:20px;">
					<a ng-show="post.link" href="{{post.link}}">
						{{post.title}}
					</a>
					<span ng-hide="post.link">
						{{post.title}}
					</span>
					<span ng-show="post.author">
					posted by <a>{{post.author}}</a> |
					</span>
				</span>
				<span>
  					<a href="#/posts/{{post._id}}">Comments</a>
				</span>
		</div>

			<form ng-submit="addPost()"
			ng-show="isLoggedIn()"
			style="margin-top:30px;">
			
				<h3>Add a new post</h3>
				<div class=form-group>
					<input type="text" 
					class="form-control" 
					placeholder="Title" 
					ng-model="title"></input>
				</div>
				<div class=form-group>
					<input type="text" 
					class="form-control" 
					placeholder="Link" 
					ng-model="link"></input>
				</div>
				<button type="submit" class="btn btn-primary">Post</button>
			</form>