<!-- templates/manage_users.html -->
<div class="page-header">
	<h3>
		<span>Admin Page</span>
	</h3>
</div>
<input type="text" placeholder="Enter Search" data-ng-model="name"/>
<table>
	<thead>
	<tr>
		<th>select</th>
		<th>Name</th>
		<th>Role</th>
	</tr>
	<thead>
	<tr data-ng-repeat="u in users | searchFilter:name" ng-click="setSelected(u)" ng-class="{selected: u._id === selected}">
		<td><input type="checkbox" ng-model="u.selected"></td>
		<td ><a href="#/users/{{u._id}}">{{ ucFirst(u.username) }}</a></td>		
		<td> {{u.role}} </td>
	</tr>
</table>
