<!-- templates/posts.html -->
<div class="page-header">
			<h3>
				<a ng-show="post.link" href="{{post.link}}">
					{{post.title}}
				</a>
				<span ng-hide="post.link">
					{{post.title}}
				</span>
			</h3>
		</div>

		<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
			
			<span class="glyphicon glyphicon-arrow-up"
			ng-click="incrementUpvotes(comment)"></span>

			<span> {{comment.count}} </span>
			
			<span class="glyphicon glyphicon-arrow-down"
			ng-click="decrementUpvotes(comment)"></span>
			
			<span style="font-size:20px; margin-left:10px;">
				{{comment.body}}
			</span>
			<span ng-show="comment.author">
					posted by <a>{{comment.author}}</a>
			</span>		
		</div>

		<form ng-submit="addComment()"
		ng-show="isLoggedIn()"
		style="margin-top:30px;"> 
			<h3>Add a new comment</h3>

			<div class="form-group">
				<input type="text" 
				class="form-control" 
				placeholder="Comment"
				ng-model="body"></input>
			</div>
			<button type="submit" class="btn btn-primary">Post</button>
		</form>