<h2>Hello world!</h2> <div role="tabpanel" ng-transclude></div>

<tab>
	Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea
  graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id,
  eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum
  nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr
  corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri,
  omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea
  noluisse deterruisset sea.
</tab>