<!-- templates/user.html -->

<div class="page-header">
	<h1>{{ucFirst(profName)}}'s Profile</h1>
</div>

<table>
	<thead>
	<tr>
		<th>User Id</th>
		<th>Role</th>
		<th>Votes</th>
	</tr>
	<thead>
	<tr>
		<td>{{user._id}}</td>
		<td>
			<select ng-model="user.role"
			ng-options="opt as opt.label for opt in options">
			</select>
		</td>
		<!-- <td >{{ user.role }}</td> -->		
		<td> Votes </td>
	</tr>
</table>


